<p>
  Get started by verifying your account
</p>

<p>
  Click the link below to verify your account and get started with my-spa.
  <%= link_to "Verify your account", "http://localhost:5173/onboarding/verify_email_address?signed_id=#{@signed_id}" %>.
</p>
